.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto;
}
body{
  padding: 10px;
}
h1 {
  text-align: center;
  color: #0c2d50;
  font-size:larger;
}
.Chat-container {
  margin: 50px auto;
  border: 2px solid rgb(21, 36, 77);
  border-radius: 10px;
  height: 70vh;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
  max-width: 70%;
}
.Messages {
  display: flex;
  margin-top: 10px;
}

.MessagesList {
  padding: 20px 0;
  /* max-width: 750px; */
  width: 100%;
  margin: 0 auto;
  overflow: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.Messages.thisMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.thisMember > .Message-content {
  align-items: flex-end;
}

.nameSetupWrapper {
  display: flex;
  justify-content: center;
  
  margin: 50px auto;
}
.NameSetup {
  padding: 20px;
}
.Messages > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px dashed #2d6b5e;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 10px -10px;
}

.Message-content > .username {
  display: block;
  color: #92a4b4;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  word-wrap: break-word;
  margin: 0;
  border-radius: 14px;
  background-color: #2d6b5e;
  color: white;
  display: inline-block;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}


.thisMember > .Message-content .text {
  background-color: #92a4b4;
  color: black;
}

input {
  display: flex;
  flex-grow: 1;
  margin: 0 10px 5px 0;
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #0c2d50;
}
input:focus {
  outline-color: cornflowerblue;
}

.InputForm {
  padding: 10px;
}

button {
  margin: auto;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #94c4ac;
  display: block;
  position: relative;
  padding: 5px 15px;
  box-shadow: 0 5px 0 #2d6b5e;
  border-radius: 5px;
}

button:active {
  top: 1px;
  background-color: #2d6b5e;
  box-shadow: inset 0 3px 0 #1c5610, inset 0 -3px 0 #2d6b5e;
  text-shadow: 0px 2px 0px #1c5610;
}

button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -10px;
  left: -4px;
  z-index: -1;
  border-radius: 5px;
}

@media only screen and (max-width: 700px){
  .Chat-container{
    max-width: none;
  }
}